body {
  margin:0;
  padding: 0
}

* {
  text-decoration: none;
}


.App {
  text-align: center;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

.wrapper {
  background-color: rgb(48, 45, 87);
  width: 100%;
  position: fixed; 
  height: 80px;
}

 .logo {
  font-size: 30px;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  font-style:italic;
  letter-spacing: 2px;
  padding: 0 50px;
  display: inline-block;
  line-height: 80px;
}

nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

nav ul{
  float: right;
  margin: 0 20px 0 0;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: rgb(31, 151, 177);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
