.contact-section h2 {
    padding-top: 80px;
    font-size: 30px;
    text-align:center;
    color: rgb(70, 69, 69);
}

.company-details h3 {
    text-align:center;
    font-size: 25px;
    color: rgb(61, 61, 61);
    font-weight: bolder;
}

.form, .company-details {
    flex-basis: 30%;
}

.company-details {
    margin-right: 100px;
}

.phone, .mail, .bussiness {
    display:flex;
    justify-content: center;
}

.phone p, .mail p, .bussiness p{
    font-size: 20px;
    padding: 15px;
    font-weight: bolder;
    line-height: 10%;
}

.phone i, .mail i, .bussiness i {
    color: rgb(48, 45, 87);
    font-size: 30px;
    padding-top: 20px;
}

.contact-wrapper {
    display:flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}

input[type=text], select, input[type=tel] {
    width: 86%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
label {
    display:block;
}

input[type=submit] {
    width: 99%;
    background-color: rgb(48, 45, 87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(28, 26, 49);
  }
  
  .form {
    border-radius: 5px;
    background-color: #d1d0d0;
    padding: 20px;
    margin-left: 100px;
  }

  #day {
    font-size: 15px;
    text-align: center;
  }