.team {
    background-color: beige;
}

.team h3 {
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.team-people {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.team-img img {
    width: 50%;
    border-radius: 100%;
    border: 1px solid rgb(48, 45, 87);
    box-shadow: 1px 0px 19px 4px rgb(48, 45, 87);
}

.team-img p {
    padding-bottom: 100px;
    font-style:italic;
}

.team-img h4 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}