header {
    margin: 0;
    padding-top: 20vh;  
    text-align: center;
}

header h1 {
    color: rgb(48, 45, 87);
    font-size: 4rem; 
    margin-bottom: 0;
}

header p {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5px;
    padding-bottom: 20px;
}

header a{
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    font-weight: 700;
    background-color: rgb(48, 45, 87);
    color: #fff;
    border-color: #1d880f;
    padding: 15px 25px;
    border-radius: .25rem;
    text-decoration: none;
    font-size: 20px;
}